
.tituloSelecao{
    width: 100%;
    height: 80px;
    margin-top: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #293845;
}
.assentos{
    margin: 0px auto;
    width: 320px;
    height: 230px;
    display: flex;
    flex-wrap: wrap;
    
}
.assento{
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    margin-right: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #C3CFD9;
    cursor: pointer;
}
.disponivel:hover{
    background-color: #5f666d;
    transition: 0.2s;
    
}

.disposicao{
    margin: 1px auto 0px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}
.estadoAssento{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    justify-content: center;
}
.estadosAssento{
    margin: 5px auto 40px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}
.selecionado{
    background-color: #8DD7CF;
    border: 1px #1AAE9E;
}
.disponivel{
    background-color: #C3CFD9;
    border: 1px #7B8B99;
}
.indisponivel{
    background-color: #FBE192;
    border: 1px #F7C52B;
}
.inputs{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
   
}
.input{
    margin-top: 5px;
    width: 327px;
    height: 51px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;

}
.titulo{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;    
}
.cpf{
    margin-top: 7px;
}
.botaoReservar{
    margin-right: 8px;
    display: flex;
    margin: 57px auto 0px;
    background-color: #E8833A;
    color: #FFFFFF;
    width: 225px;
    height: 42px;  
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 0px;
}