.tituloSucesso{
    width: 150px;
    height: 80px;
    margin: 67px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #247A6B;
    font-style:normal;
    font-weight: 700;
    text-align: center;
}